<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <!-- 全文件访问权限（Android 11+） -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ToolBoxApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.RandomCallName"
        tools:targetApi="31">
        <activity
            android:name=".turntable.ui.TurnTableMainActivity"
            android:exported="false" />
        <activity
            android:name=".signaturecanvas.ui.activity.SignatureCanvasManagerFileActivity"
            android:exported="false" />
        <activity
            android:name=".signaturecanvas.ui.activity.SignatureCanvasMainActivity"
            android:exported="false" />
        <activity
            android:name=".signaturecanvas.ui.activity.SignatureCanvasSettingActivity"
            android:exported="false" />
        <activity
            android:name=".chatroom.ui.activity.ChatRoomShowTextActivity"
            android:exported="false" />
        <activity
            android:name=".chatroom.ui.activity.ChatRoomShowPicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".chatroom.ui.activity.ChatRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".chronograph.ui.ChronographMainActivity"
            android:exported="false" />
        <activity
            android:name=".commonbase.ui.activity.ToolBoxMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="480" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="800" />

        <activity
            android:name=".randomname.ui.activity.RandomNameWelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".randomname.ui.activity.RandomSettingActivity"
            android:exported="false" />
        <activity
            android:name=".randomname.ui.activity.RandomNameMainActivity"
            android:exported="false" />
        <activity
            android:name=".randomname.ui.activity.ManageGroupActivity"
            android:exported="false" />
        <activity
            android:name=".randomname.ui.activity.NewRandomGroupActivity"
            android:exported="false"
            android:theme="@style/Activity.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".randomname.ui.activity.NewRandomNameActivity"
            android:exported="false"
            android:theme="@style/Activity.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".randomname.ui.activity.ManageNameActivity"
            android:exported="false" />
    </application>

</manifest>